*{
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
}

body{
   background: #f2f2f2;
   
}
.container{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
.nav-container{
    background: rgba(51,11,51);
    background: linear-gradient(90deg, rgba(51,11,51,1)0%, rgb(75, 71, 133)40%, rgba(171,26,26,1)100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    
   
}

.nav-logo a{
   text-decoration: none;
   color: white;
}

.nav-links{
    padding-right: 7rem;
}

.nav-links a{
    color: white;
    font-size: 17px;
    margin-left: 2rem;
    text-decoration: none;
}

.nav-links a:hover{
   color: rgba(51,11,51);
}



.contact-btn{
    padding: 10px;
    background: none;
    border:2px solid white;
    border-radius: 5px;
    font-weight: bold;
}

.contact-btn a{
    text-decoration: none;
    color: white;
}

.contact-btn a:hover{
    color: rgba(51,11,51);
}

.contact-btn:hover{
   border: 2px solid white;
   
}

.image{
   margin-right: 4rem;
   height: 36rem
}

.image img{
    height: 32rem;
    margin-top: 20px;
 
}


.writeup-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.writeups{
    margin-top: 8rem;
    width: 30%;
    height: 20rem;
}

.description{
    color:  rgba(51,11,51);
    display: inline-block;
    margin-top: 40px;
    font-size: 2.5rem;
    
}

.writeups p{
    padding-top: 25px;
    width: 55%;
}

.buttons{
    margin-top: 20px;
}

.btn{
    padding: 10px;
    color: rgba(51,11,51);
    border:2px solid rgba(51,11,51);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: rgba(51,11,51);
}

.btn a:hover{
    color: white;
}

.btn:hover{
   color: white;
   background-color: rgba(51,11,51);
}
.about-container{
    margin-top: 2rem;
}

.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 2rem;
}

.about-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
   
}

.about-image img{
    height: 22rem;
}

.about-intro{
    width: 50%;
    font-size: 16px;
    /* border: 2px solid black; */
}

/* .about-container{
    padding-top: 7rem;
   
    margin-bottom: 40px;
    border: 3px solid black;
}

.about-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
}

.about-section{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
} 

.about-image{
    margin-top: 2rem;
}

.about-image img{
    height: 26rem;
}

.about-intro{
    width: 100%;
    height: 300px;
    /* margin-top: 2rem;
    padding-top: 2rem; */
/* } */ */

/* .skills-section{
    
   
} */

/* .skills-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
  
}

.icon-container{
    width: 70%;
    margin: auto;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 5rem;
    flex-wrap: wrap;
}


.icon img{
    height: 7rem;
    width: 7rem;
} */

.contact-container{
    background-color: #dfdfdf;
    padding-top: 7rem;
}

.contact-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
   
}

.contact-icons{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
   
}

.social-icon{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
}

form{
    width: 50%;
    margin: auto;
}

.form-container{
    margin-top: 2rem;
    border-radius: 5px;
    padding: 20px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

input[type=submit] {
    background-color: rgba(51,11,51);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(65, 13, 65);
    box-shadow: 1px 2px 4px rgba(51, 11, 51, .8);
}


/* Mobile */

@media screen and (max-width: 700px) {

    .container{
        width: 80%;
    }

    .nav-links{
        display: none;
    }

    .writeup-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
    }

    .writeups{
        width: 100%;
        margin-top: 7rem;
    }

    .writeups p{
        width: 72%;
    }

    .description{
        font-size: 2rem;
    }

    .btn2{
        margin-left: 2rem;
    }

    .image{
        display: none;
    }
    
    /* .about-container{
        padding-top: 7rem;
       margin-bottom: 40px;
        height: 700px;
    } */

    .about-header{
        font-size: 17px;
        text-align: justify;
    }

    .about-section{
        flex-direction: column;
        width: 100%;
       
    }
     

    .about-image img{
        height: 18rem;
        width: 100%;
    }

    .about-intro{
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }

    .skills-section{
        /* height: fit-content; */
       /* margin-top: 40%!important;

    }

    .skills-header{
        font-size: 17px;
        text-align: justify;
    }
    
    .icon-container{
        grid-template-columns: auto auto;
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        
    }
    
    .icon img{
        height: 5rem;
        width: 5rem;
    } */

    .contact-container{
        margin-top: 4rem;
    }

    form{
        width: 90%;
        margin: auto;
    }

    /* .icon{
        height: 6rem;
        width: 6rem;
        margin: auto;
        padding: 10px;
    } */
}
