*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   background: #DFDFDF;
   
}
.container{
    
}
.nav-container{
    background: rgba(51,11,51);
    background: linear-gradient(90deg, rgba(51,11,51,1)0%, rgb(75, 71, 133)40%, rgba(171,26,26,1)100%);
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
   
}

.nav-links{
    
}

.nav-links a{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    text-decoration: none;
}

.nav-links a:hover{
   color: rgba(51,11,51);
}

.image{
   margin-right: 4rem;
   height: 36rem
}

.image img{
    height: 32rem;
    margin-top: 20px;
 
}


.writeup-container{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.writeups{
    margin-top: 8rem;
    width: 30rem;
    height: 20rem;
}

.description{
    color:  rgba(51,11,51);
    display: inline-block;
    margin-top: 40px;
    font-size: 2.5rem;
    
}

.writeups p{
    padding-top: 25px;
    width: 50%;
}

.buttons{
    margin-top: 20px;
}

.btn{
    padding: 10px;
    color: rgba(51,11,51);
    font-weight: bold;
    border: none;
}

.btn:hover{
    border:2px solid rgba(51,11,51);
    border-radius: 5px;
}

.about-container{
    margin-top: 5rem;
}

.about-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
}

.about-section{
    display: flex;
    justify-content: center;
    
}

.about-image{
    margin-right: 4rem;
}

.about-image img{
    height: 28rem;
}

.about-intro{
    width: 25rem;
    margin-right: 5rem;
    margin-top: 3rem;
}

.skills-section{
   
}

.skills-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
    margin-top: 3rem;
}

.skills-container{
    margin-left: 4rem;
}

.icon-container{
    width: 70%;
    margin: auto;
    padding-top: 2rem;
}

.icon{
   height: 8rem;
   width: 8rem;
   margin-right: 5rem;
   margin-top: 2rem;
   padding: 20px;
   border: none;
}

.icon:hover{
    background: #DFDFDF;
}

.contact-header{
    text-align: center;
    color: rgba(51,11,51);
    font-size: 20px;
    margin-top: 3rem;
}